@import "reset.css";

body {
  background-image: url("https://kstartupforum.org/static/media/slide-image03.4dcbe257.png");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100vw;
}

header {
  margin: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > span,
header > a {
  color: white;
  font-size: 20px;
}

header > a {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 141px;
  height: 64px;
  background-image: url("https://kstartupforum.org/static/media/logo-white.2142840c.png");
}

.signin__signup {
  color: white;
}

main {
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
}

/* slide code start*/

ul,
li {
  list-style: none;
}

#main__move {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#main__move ul {
  width: 300%;
  height: 100%;
  transition: 1s;
  display: flex;
}

#main__move ul::after {
  content: "";
  display: block;
  clear: both;
}

#main_move li {
  float: left;
  width: 33.3%;
  height: 100%;
}

#main__move input {
  display: none;
}

#main__move label {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 2px solid #666;
  background: #fff;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

#main__move .round {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

#slide1:checked ~ ul {
  margin-left: 0%;
}

#slide2:checked ~ ul {
  margin-left: -100%;
}

#slide3:checked ~ ul {
  margin-left: -200%;
}

#slide1:checked ~ .round > label:nth-child(1) {
  background: #666;
}
#slide2:checked ~ .round > label:nth-child(2) {
  background: #666;
}
#slide3:checked ~ .round > label:nth-child(3) {
  background: #666;
}

/* slide code end*/

footer {
  display: flex;
  position: relative;
  transform: translateY(0%);
  width: 100%;
  height: 200px;
  background-color: #121b34;
}

footer > section > img {
  width: 140px;
  height: 64px;
}
