@import "reset.css";

ul,
li {
  list-style: none;
}
#slider img {
  width: 100vw;
}

#slider {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#slider ul {
  width: 300%;
  height: 100%;
  transition: 1s;
}

#slider ul:after {
  content: "";
  display: block;
  clear: both;
}

#slider li {
  float: left;
  width: 33.3%;
  height: 100%;
}

#slider input {
  display: none;
}

#slider label {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 2px solid #666;
  background: #fff;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

#slider .round {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

#slide1:checked ~ ul {
  margin-left: 0%;
}

#slide2:checked ~ ul {
  margin-left: -100%;
}

#slide3:checked ~ ul {
  margin-left: -200%;
}

#slide1:checked ~ .round > label:nth-child(1) {
  background: #666;
}
#slide2:checked ~ .round > label:nth-child(2) {
  background: #666;
}
#slide3:checked ~ .round > label:nth-child(3) {
  background: #666;
}
